.slider-image-height {
    height: 650px;
}
.first-slide-caption {
    bottom: 150px;
    left: -300px;
}
.menu-position {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}
.logo-image {
    height: 25px!important;
}

.tab-card-img-height {
    height: 300px;
}

.tab-img-caption {
    position: absolute;
    left: 15px;
    bottom: 10px;
    color: white;
}
.client-image-div {
    height: 200px;
    width: 200px;
}
.client-image {
    height: 100px;
    width: 100px;
    border-radius: 100%;
}